.container {
  @include flex-center;
  flex-wrap: wrap;

  height: 100vh;

  background: $background-color-backup;
  background: $background-color;
}

.card {
  height: 100px;
  margin: 10px;
  background: $card-color;

  @include flex-center;
  @include card(3);
}

.card__form {
  border: 1px solid $text-color;
  padding: 10px 0 10px 0;
  margin: 10px 20px;

  border-width: 0 0 3px 0;
  border-style: solid;
  border-image: $input-gradient
}

.card--input {
  min-width: 300px;
}

.card--ouput {
  width: 100px;
}

.emoji {
  font-size: 60px;
}

.border {
  height: 100%;
  width: 100%;
  border: 1px red dotted;
}